{% extends 'base.html' %}
{% load static %}
{% block content %}

  <section>
    <div class="bannerSection">
      <div class="container">
        <div class="row g-4 g-md-3  align-items-center">
          <div class="col-md-auto order-md-last">
            <div class="user-profile">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ author.profile_picture.url }}">
            </div>
          </div>

          <div class="col-md">

            <div class="bannerContent">
              <h1 class="xlTitle pb-3">Hi, I’m Pablo, <br> Software engineer </h1>

              <div class="bannerBtnCol">
                <div class="row">
                  <div class="col-auto">
                    <a download href="javascript:void(0)" class="btnCustom btnPrimary">
                      Download Resume
                    </a>
                  </div>
                  <div class="col-auto">
                    <a href="/contact" class="btnCustom btnOutline">Contact</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Intro Section-->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="h3"> {{ author.title_description }} </h2>
          <p class="text-big">
            {{ author.description }}
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- Latest Posts -->
  <section class="latest-posts"> 
    <div class="container">

      <header> 
        <h2>Latest from the blog</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>

      {% if len_object_latest > 0 %}
        <div class="row">
          {% for obj in object_latest %}
          <div class="post col-md-4">
            <div class="post-thumbnail">
              <a href="post/{{obj.title}}">
                <img src="{{obj.thumbnail.url}}" alt="img description" class="img-fluid">
              </a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date"> {{ obj.timestamp }} </div>
                <div class="category">
                  {% for category in object.categories.all %}
                    <a href="#"> {{ category }}</a>
                  {% endfor %}
                </div>
              </div>
              <a href="post.html">
                <h3 class="h4"> {{ obj.title }} </h3>
              </a>
              <p class="text-muted"> {{obj.overview }} </p>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>


  <!-- Newsletter Section-->
  <section class="newsletter no-padding-top">    
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="xlTitle pb-3">Subscribe to Newsletter</h2>
          <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-8">
          <div class="form-holder">

            <form action="." method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="email" name="email" id="email" placeholder="Type your email address">
                <button type="submit" class="submit">Subscribe</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}