{% load static %}

<footer>
  <div class="footerCol">
    <div class="container">
      <ul class="socialCol">
        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      <div class="copyrightCol">
        <p>Copyright ©2021 All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
      </div>
    </div>
  </div>
</footer>